@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #333;
        color: #fff;
    }

    .jumbotron {
        background-color: #dc3545; /* Red background for jumbotron */
        color: #fff; /* White text */
    }

    strong {
        color: #dc3545;
    }

    .lead {
        color: #fff; /* White text for lead paragraphs */
    }

    .btn-primary {
        background-color: #dc3545; /* Red background for primary buttons */
        border-color: #dc3545; /* Red border for primary buttons */
    }

        .btn-primary:hover {
            background-color: #c82333; /* Darker red on hover */
            border-color: #c82333; /* Darker red border on hover */
        }
</style>

<div class="text-center">
    <strong class="display-4">Welcome to my Contacts Management Web Site enjoy ^_^</strong>
   
</div>
